<div class="dropdown">
  <div *ngIf="head">
    <div class="dd-head" (click)="onHeadClick()" [ngClass]="(headIsActive)?'active':''">
      <div class="dd-head-title">{{head.name}}</div>
      <div class="icon">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
    </div>
    <div class="dd-body" [ngClass]="{'active': headIsActive}">
      <ul class="dropdown-list">
        <li class="dropdown-item" *ngFor="let d of data" (click)="onItemClick(d)" [ngClass]="{'active': d.id == head.id}">{{d.name}}</li>
      </ul>
    </div>
  </div>
</div>

