@import '../../../../styles.scss';

.navbar{
  position: fixed;
  z-index: 1000;
  top:0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  padding: 0.5em 2em;
  @media screen and (max-width: $size__tablet) {
    padding: 0.5em;
  }
  background-color: $color__navbar_bg;
  color: $color__navbar;
  .nav-item{
    .nav-link{
      padding: 1em;
    }
    &.active{

      padding: 0.5em;
      a{
        color: rgba(#fff, 0.5);
      }
      //.nav-link{
      //  border-bottom: 2px solid rgba(#fff, 0.5);
      //}
    }
  }

  .navbar-menu{
    @media screen and (max-width: $size__tablet){
      &.active{
        display: block;
      }
      position: absolute;
      top: 64px;
      display: none;
      left: 0;
      right: 0;
      background-color: #4F7D91;
      .navbar-nav{
        padding: 2em;
      }
      .nav-item{
        &.greeting{
          display: none;
        }
        .nav-link{
          padding: 1em 0;
        }
        //&.active{
        // padding: 0.5em;
        //  a{
        //    color: rgba(#fff, 0.5);
        //  }
        //  //.nav-link{
        //  //  border-bottom: 2px solid rgba(#fff, 0.5);
        //  //}
        //}
      }

    }
  }

  .navbar-toggler {
    display: block;
    width: 40px;
    height: 40px;
    //background-color: #aa0000;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: white;
    @media screen and (min-width: $size__tablet) {
      display: none;
    }
    mat-icon{
      width: 40px;
      height: 40px;
      font-size: 40px;
      display: none;
      &.active{
        display: block;
      }
    }
  }

  a {
    color: $color__navbar_link;

    &:visited {
      color: $color__navbar_link_visited;
    }
    &:hover,
    &:focus,
    &:active {
      color: $color__navbar_link_hover;
    }
  }
}

.site-branding{
  display: flex;
  height: 3em;
  .logo{
    width: 3em;
    height: 3em;
    img{
      width: 100%;
      height: 100%;
    }
  }

  .site-text-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 0.5em;
    .site-title{
      font-size: 1.5em;
      font-weight: bold;
      text-transform: uppercase;
    }
    .site-description{
      font-size: 1.0em;
      font-weight: bold;
      letter-spacing: 0.35em;
    }
  }
}

.navbar-nav{
  display: block;
  a{display: block;}
  @media screen  and (min-width: $size__tablet){
    display: flex;
    align-items: center;
    .nav-item{
      //margin: 0 1em;
      text-transform: uppercase;
    }
    a{display: inline;}
  }
}

.mat-icon {
  font-size: 40px;
}

.separator{
  display: none;
  @media screen  and (min-width: $size__tablet) {
    display: inline-block;
    width: 1px;
    height: 40px;
    background-color: #fff;
    //margin-right: 1em;//
    margin-left: 1em;
  }
}



