<div class="my-3 my-md-5">
  <div class="row">
    <div class="col-md-2">
      <app-left-sidebar [backButton]="makeBackButton()"></app-left-sidebar>
<!--      <div class="btn-group-vertical w-100 mb-3 mb-md-0" role="group" aria-label="Button group">-->
<!--        <a class="btn btn-secondary btn-block tab-button"-->
<!--           [routerLink]="['/global-clients']">-->
<!--          {{'config.globalConfigurations' | translate}}-->
<!--        </a>-->
<!--        <a class="btn btn-secondary btn-block tab-button active"-->
<!--           [routerLink]="['/projects']">-->
<!--          {{'project.projects' | translate}}-->
<!--        </a>-->
<!--      </div>-->
    </div>
    <div class="col-md-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">{{'project.project' | translate}}: {{projectId}}</li>
        </ol>
      </nav>
      <div class="row mb-3">
        <app-dropdown class="col-md-6"
                      [data]="projects"
                      [field]="'projectName'"
                      [label]="'project.project' | translate"
                      [selected]="projectId"
                      (selectionUpdates)="onProjectChange($event)"></app-dropdown>
      </div>
      <h2>{{'client.selectAnApplication' | translate}}</h2>
      <div class="row my-5" *ngIf="loading"><h2>{{'loading' | translate}}</h2></div>
      <div *ngIf="!loading" class="row my-3">
          <div *ngFor="let client of clients" class="col-lg-4 mb-3">
            <div class="card">
              <a [routerLink]="['/configs']" [queryParams]="makeQueryParams(client.clientId)" [state]="makeState()">
                <div class="card-body">
                  <h5 class="card-title">{{client.clientId}}</h5>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-2"></div>
  </div>
</div>
