<div class="my-3 my-md-5">
  <div class="row">
    <div class="col-md-2">
      <app-left-sidebar [backButton]="makeBackButton()"></app-left-sidebar>
<!--      <div class="btn-group-vertical w-100 mb-3 mb-md-3" role="group" aria-label="Button group">-->
<!--        <a class="btn btn-secondary btn-block tab-button"-->
<!--           [routerLink]="['/global-clients']">-->
<!--          {{'config.globalConfigurations' | translate}}-->
<!--        </a>-->
<!--        <a class="btn btn-secondary btn-block tab-button active"-->
<!--           [routerLink]="['/projects']">-->
<!--          {{'project.projects' | translate}}-->
<!--        </a>-->
<!--      </div>-->
      <div class="btn-group-vertical w-100 mb-3 mb-md-3" role="group" aria-label="Button group">
        <a class="btn btn-secondary btn tab-button"
           [ngClass]="{'active': isActive('config')}"
           [routerLink]="['/configs']"
           [queryParams]="makeQueryParams()"
           [state]="makeState()">
          {{'client.project' | translate}}
        </a>
<!--        <a class="btn btn-secondary btn tab-button"-->
<!--           [ngClass]="{'active': isActive('group')}"-->
<!--           [routerLink]="['/groups']"-->
<!--           [queryParams]="makeQueryParams()"-->
<!--           [state]="makeState()">{{'group.groups' | translate}}-->
<!--        </a>-->
        <a class="btn btn-secondary btn tab-button"
           [ngClass]="{'active': isActive('user')}"
           [routerLink]="['/users']"
           [queryParams]="makeQueryParams()"
           [state]="makeState()">
          {{'user.users' | translate}}
        </a>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-10">
          <nav *ngIf="!userId" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                {{'project.project' | translate}}:
                <a [routerLink]="['/clients']"
                   [queryParams]="{project: projectId}">{{projectId}}
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{'client.application' | translate}}: {{clientId}}
              </li>
            </ol>
          </nav>
          <nav *ngIf="userId" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                {{'project.project' | translate}}:
                <a [routerLink]="['/clients']"
                   [queryParams]="{project: projectId}">{{projectId}}
                </a>
              </li>
              <li class="breadcrumb-item">
                {{'client.application' | translate}}:
                <a [routerLink]="['/configs']"
                   [queryParams]="{project: projectId, client: clientId}">{{clientId}}
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{'user.user' | translate}}: {{userId}}
              </li>
            </ol>
          </nav>
          <div class="row mb-3">
            <app-dropdown class="col-md-6"
                          [data]="projects"
                          [field]="'projectName'"
                          [label]="'project.project' | translate"
                          [selected]="projectId"
                          (change)="onProjectChange($event)"></app-dropdown>
            <app-dropdown class="col-md-6"
                          [data]="clients"
                          [field]="'id'"
                          [label]="'client.application' | translate"
                          [selected]="clientId"
                          (change)="onClientChange($event)"></app-dropdown>
          </div>
          <div class="row mb-3">
            <app-dropdown class="col-md-6"
                          [data]="users"
                          [field]="'name'"
                          [label]="'user.user' | translate"
                          [selected]="user ? user.name : userId"
                          (change)="onUserChange($event)"></app-dropdown>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <h2>{{'config.configurations' | translate}}</h2>
      <div class="row my-5" *ngIf="loading"><h2>{{'common.loading' | translate}}</h2></div>
      <div *ngIf="!loading" class="row my-3">
        <app-configs-table
          class="w-100"
          *ngIf="!loading && configs"
          [globalConfig]="false"
          [configObject]="configs"
          (save)="onSave($event)"></app-configs-table>
      </div>
    </div>
  </div>
</div>
