<div class="row config-wrapper">
  <div class="col-md-10 container-config">
    <form [formGroup]="configForm">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">{{__.name}}</th>
            <th scope="col">{{__.value}}</th>
            <th scope="col">{{__.defaultValue}}</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody formArrayName="config" *ngFor="let group of getFormData.controls; let i=index">
          <tr [formGroupName]="i.toString()">
            <td class="form-group">
              <input
                type="text"
                class="form-control"
                formControlName="name"
                [placeholder]="__.name"
                aria-label="Name"
                [readonly]="group.value.default"
                [ngClass]="{'disabled' : group.value.default}"
                (blur)="onBlur($event)">
            </td>
            <td>
              <input
                      type="text"
                      class="form-control"
                      formControlName="value"
                      [placeholder]="__.value"
                      aria-label="Value"
                      (blur)="onBlur($event)"
              >
            </td>
            <td>
              <p>{{group.value.default}}</p>
            </td>
            <td>
              <button (click)="remove(i)" class="btn btn-primary" [ngClass]="{'disabled' : group.value.default}" [disabled]="group.value.default"><mat-icon>delete</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <button mat-button (click)="addConfig()" class="btn btn-primary btn-block add-config"><mat-icon>
      add_circle</mat-icon>{{__.addANameValueConfiguration}}</button>
  </div>
  <div class="col-md-2 sidebar-config">
    <button class="btn btn-primary btn-block" [ngClass]="{'disabled' : !updateEnabled}" [disabled]="!updateEnabled" (click)="onPublish()">{{__.publish}}</button>
    <button class="btn btn-primary btn-block" [ngClass]="{'disabled' : !updateEnabled}" [disabled]="!updateEnabled" (click)="onReset()">{{__.reset}}</button>
    <button class="btn btn-primary btn-block" (click)="onCancel()">{{__.cancel}}</button>
  </div>
</div>
