<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-2">
      <app-left-sidebar [backButton]="makeBackButton()"></app-left-sidebar>
      <div class="btn-group-vertical w-100 my-2" role="group" aria-label="Button group">
        <a class="btn btn-secondary btn-block tab-button" [routerLink]="['/global-clients']">Global Configurations</a>
        <a class="btn btn-secondary btn-block tab-button active" [routerLink]="['/projects']">Projects</a>
      </div>
      <div class="btn-group-vertical w-100 my-2" role="group" aria-label="Button group with nested dropdown">
        <a class="btn btn-secondary btn tab-button" [ngClass]="{'active': isActive('config')}" [routerLink]="['/configs']" [queryParams]="makeQueryParams()" [state]="makeState()">All groups and users</a>
        <a class="btn btn-secondary btn tab-button" [ngClass]="{'active': isActive('group')}" [routerLink]="['/groups']" [queryParams]="makeQueryParams()" [state]="makeState()">Groups</a>
        <a class="btn btn-secondary btn tab-button" [ngClass]="{'active': isActive('user')}" [routerLink]="['/users']" [queryParams]="makeQueryParams()" [state]="makeState()">Users</a>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-10">
          <div class="row my-1">
            <app-dropdown class="col-md-6" [data]="projects" [field]="'projectName'" [label]="__.project" [selected]="projectId" (change)="onProjectChange($event)"></app-dropdown>
            <app-dropdown class="col-md-6" [data]="clients" [field]="'id'" [label]="__.application" [selected]="clientId" (change)="onClientChange($event)"></app-dropdown>
          </div>
          <div class="row my-1">
            <app-dropdown class="col-md-6" [data]="users" [field]="'id'" [label]="__.user" [selected]="userId" (change)="onUserChange($event)"></app-dropdown>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="container-fluid my-5">
        <div class="row my-3">
          <h2>{{__.configurations}}</h2>
        </div>
        <app-configs-table *ngIf="!loading && configs" [global]="false" [configObject]="configs" (save)="onSave($event)"></app-configs-table>
      </div>
    </div>
  </div>
</div>
