@import '../../../../styles.scss';

.footer{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3.75em;
  padding: 1em;
  font-size: 0.8em;
  background-color: $color__main_bg;
  border-top: $color__accent_bg_semi_transparent solid 1px;
}
