<div class="container-flex">
  <div class="container-left">
    <app-left-sidebar></app-left-sidebar>
    <div class="tabs-container">
      <a class="btn tab-button active" [routerLink]="['/global-clients']">Global Configurations</a>
      <a class="btn tab-button" [routerLink]="['/projects']">Projects</a>
    </div>
  </div>
  <div class="container-main">
    <div class="container-content">
      <div class="main-container-header">
        <h1>{{__.globalApplications}}</h1>
        <h2>{{__.selectAnApplication}}</h2>
      </div>
      <div class="main-container-header" *ngIf="loading"><h2>{{__.loading}}</h2></div>
      <div *ngIf="!loading" class="container-cards">
        <div *ngFor="let client of clients" class="card">
          <a [routerLink]="['/global-configs']" [queryParams]="makeQueryParams(client.clientId)" [state]="makeState()">
            <div class="">
              <div class="card-body">
                <h5 class="card-title">{{client.clientId}}</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
