<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-2">
      <app-left-sidebar></app-left-sidebar>
      <div class="btn-group-vertical w-100 my-2" role="group" aria-label="Button group">
        <a class="btn btn-secondary btn-block tab-button active" [routerLink]="['/global-clients']">Global Configurations</a>
        <a class="btn btn-secondary btn-block tab-button" [routerLink]="['/projects']">Projects</a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row main-container-header">
        <h1>{{__.globalApplications}}</h1>
      </div>
      <div class="row">
        <h2>{{__.selectAnApplication}}</h2>
      </div>
      <div class="row main-container-header" *ngIf="loading"><h2>{{__.loading}}</h2></div>
      <div *ngIf="!loading" class="row container-cards">
        <div *ngFor="let client of clients" class="col-lg-4 p-1 m-0">
          <div class="card">
          <a [routerLink]="['/global-configs']" [queryParams]="makeQueryParams(client.clientId)" [state]="makeState()">
            <div class="card-body">
              <h5 class="card-title">{{client.clientId}}</h5>
            </div>
          </a>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
