<div class="my-3 my-md-5">
  <div class="row">
    <div class="col-md-2">
      <app-left-sidebar [backButton]="makeBackButton()"></app-left-sidebar>
<!--      <div class="btn-group-vertical w-100 mb-3 mb-md-0" role="group" aria-label="Button group">-->
<!--        <a class="btn btn-secondary btn-block tab-button active" [routerLink]="['/global-clients']">-->
<!--          {{'config.globalConfigurations' | translate}}</a>-->
<!--        <a class="btn btn-secondary btn-block tab-button" [routerLink]="['/projects']">-->
<!--          {{'project.projects' | translate}}-->
<!--        </a>-->
<!--      </div>-->
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-10">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">{{'client.application' | translate}}: {{clientId}}</li>
            </ol>
          </nav>
          <div class="row mb-3">
            <app-dropdown class="col-md-6"
                          [data]="clientOptions"
                          [selected]="clientId"
                          [label]="'client.application' | translate"
                          (selectionUpdates)="onClientChange($event)"></app-dropdown>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <h1>{{'config.globalConfigurations' | translate}}</h1>
      <h2>{{'config.configurations' | translate}}</h2>
      <div class="row my-5" *ngIf="loading"><h2>{{'common.loading' | translate}}</h2></div>
      <div *ngIf="!loading" class="row my-3">
        <app-configs-table class="w-100"
                           *ngIf="!loading"
                           [globalConfig]="true"
                           [configObject]="configs"
                           (save)="onSave($event)"></app-configs-table>
      </div>
    </div>
  </div>
</div>
