a {
	text-decoration: none;
	transition: all 200ms ease-in-out;
	color: $color__link;
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.btn{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em 2em;
  text-transform: uppercase;
  color: $color__accent;
  background-color: $color__accent_bg;
  border: none;
  border-radius: 0.25em;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  &.active{
    background-color: $color__main_bg;
    color: $color__main;
  }
  &.disabled{
    cursor: initial;
    background-color: #ccc;
  }
}

.auto-width{
  width: auto;
}

.fixed-width{
  width: 300px;
}

.nav-link{
  cursor: pointer;
}

.btn-icon{
    width: 48px;;
    height: 48px;
    color: $color__accent_bg;
    background-color: $color__accent;
    border: none;
    cursor: pointer;
    &.disabled{
        background-color: $color__accent;
        color: $color__disabled_bg;
        cursor: initial;
    }
}

.btn.add-config{
  display: flex;
  background-color: $color__accent;
  color:$color__accent_bg;
  padding: 8px 0;
  margin-top: 16px;
  border-radius: 0;
  box-shadow: none;
  .mat-icon{margin-right: 8px;}
}

.tabs-container {
  padding: 1em;
  background-color: #fff;
  .tab-button {
    background-color: #ccc;
    color: #000;
    text-align: center;

    &.active {
      background-color: #999;
    }
  }
}
