$color__main: #000;
$color__main_bg: #FFF;
$color__accent: #FFF;
$color__accent_bg: #4F7D91;//#900
$color__disabled: #ccc;
$color__disabled_bg: #ccc;
$color__accent_bg_semi_transparent: rgba($color__accent_bg, 0.5);
$color__navbar: $color__accent;
$color__navbar_bg: $color__accent_bg;
$color__button: $color__accent;
$color__button_bg: $color__accent_bg;
$color__card:#555;
$color__card_border: #999;
$color__card_bg: #fff;
$color__card_hover: #111;
$color_card_bg_hover: #fff;
$color__card_border_hover:#333;
$color__toast_success: $color__accent_bg;
$color__toast_danger: #a00;

$color__link: $color__accent;
$color__link_visited: $color__accent;
$color__link_hover: #ddd;

$color__navbar_link: #ddd;//$color__accent;
$color__navbar_link_visited: #ddd;//$color__accent;
$color__navbar_link_hover: #fff;//#999;

$size__mobile: 600px;
$size__tablet: 900px;
$size__small: 1200px;
$size__medium: 1800px;
$size__large: 2400px;
$size__xlarge: 3000px;


$font__main: 'Montserrat', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
