<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 container-config">
      <form [formGroup]="configForm">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">{{'config.name' | translate}}</th>
              <th scope="col">{{'config.value' | translate}}</th>
              <th *ngIf="globalConfig" scope="col"></th>
              <th *ngIf="!globalConfig" scope="col">{{'config.defaultValue' | translate}}</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody formArrayName="config" *ngFor="let group of getFormData.controls; let i=index">
            <tr [formGroupName]="i.toString()">
              <td class="form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  [placeholder]="'config.name' | translate"
                  aria-label="Name"
                  [readonly]="!!group.value.scope"
                  [ngClass]="{'disabled' : !!group.value.scope}"
                  (ngModelChange)="onChange()">
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  formControlName="value"
                  [placeholder]="'config.value' | translate"
                  aria-label="Value"
                  (ngModelChange)="onChange()">
              </td>
              <td class="align-middle" style="width: 33%;">
                <p class="my-0">{{group.value.default}}</p>
              </td>
              <td style="width: 16px;">
                <button *ngIf="!group.value.scope" (click)="remove(i)"
                        class="btn btn-primary" ngbTooltip="Delete">
                  <mat-icon style="font-size: 16px;width: 16px; height:16px">delete</mat-icon>
                </button>
                <button *ngIf="group.value.scope" (click)="backToDefault(i)"
                        class="btn btn-primary disabled"
                        [ngClass]="{'disabled' : group.value.value === group.value.default}"
                        [disabled]="group.value.value === group.value.default"
                        ngbTooltip="Reset to default">
                  <mat-icon style="font-size: 16px;width: 16px; height:16px">replay</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
      <button mat-button (click)="addConfig()"
              class="btn btn-primary btn-block add-config">
        <mat-icon class="mr-1">add_circle</mat-icon>{{'config.addANameValueConfiguration' | translate}}</button>
    </div>
    <div class="col-md-2 sidebar-config mt-5 mt-md-0">
      <button class="btn btn-primary btn-block"
              [ngClass]="{'disabled' : !updateEnabled}"
              [disabled]="!updateEnabled"
              (click)="onPublish(modalContent)">{{'config.publish' | translate}}</button>
      <button class="btn btn-primary btn-block"
              [ngClass]="{'disabled' : !updateEnabled}"
              [disabled]="!updateEnabled"
              (click)="onReset(modalContent)">{{'config.reset' | translate}}</button>
      <button class="btn btn-primary btn-block mt-3" (click)="onCancel(modalContent)">{{'config.cancel' | translate}}</button>
      <hr class="my-2" style="border-top-width: 2px;">
      <a [href]="downloadJsonHref" download="app-config-export.json" class="btn btn-primary btn-block">{{'config.export' | translate}}</a>
        <div (click)="importFile.click()" class="btn btn-primary btn-block">
            {{'config.import' | translate}}
            <input style="display: none" type="file" #importFile (change)="onImport($event, modalContent)">
        </div>
    </div>
  </div>
</div>

<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalHeader}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>{{modalDescription.firstLine}}</strong></p>
    <p>{{modalDescription.secondLine}}
      <span class="text-danger">{{modalDescription.thirdLine}}</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Ok click')">OK</button>
  </div>
</ng-template>
